################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tree.Api/bin
/Tree.Api/obj
/Tree.Api/.vs/Tree.Api/v17
